* {
    font-family: Arial, "Times New Roman", sans-serif;/* Pode ter perda de desempenho, pois site e pequeno e nao demos muita importancia*/
}

body{
    background-color: white;

}

div  #nav-top {
    background: linear-gradient(#2980b9, #2c3e50) no-repeat;
    height: 100px;
}

nav  .primary-list{
    margin-top: 25px;


}

nav  .primary-list  li {
    text-align: center;
    list-style: none;
    display: inline;
    width: 100%;


}

.second-list {

    list-style: none;
    display: none;

}

@media (min-width: 266px) and (max-width: 500px) {
    nav  .primary-list {
        display: none;
    }

    nav  .second-list  li {
        display: inline;
        text-align: center;
        width: 100%;
    }

    nav  .second-list {
        display: inline;
    }

    div  #nav-top {
        height: 50px;
    }
}

.second-list  li  a  i {
    color: white;

}

.btn-nav {
    color: white;
    border: none;

}

.btn-nav:hover {
    color: white;
    border: none;
    background: linear-gradient(#2980b9, rgba(189, 195, 199, 0.05));
    opacity: 0.9;
    box-shadow: 0 5px 4px #2c3e50;
    outline: none;
}

.btn-nav:focus {
    outline: none;
    box-shadow: 0 0 0 transparent;

}

/* footer */
#footer {
    background: linear-gradient(#2980b9, #2c3e50) no-repeat;
    height: 70px;
    margin-top: 10px;
}

#footer  footer  h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#footer  footer  h2  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;

}

@media (min-width: 266px) and (max-width: 800px) {
    div  #footer  footer  h2 {
        font-family: "Times New Roman", sans-serif;
        font-size: 16px;
    }
}

.down{
    background-color: rgba(35, 35, 35, 0.47);
    border: 5px solid rgba(177, 177, 177, 0.75);
    border-radius: 0;
    width: 180px;
    position: absolute;
    left: 0;
    margin-top: 5px;
    display: none;
    transition: 1s;
    z-index: 1;
}

.down  .tree-list {
    list-style: none;
    padding: 0;


}

.down .tree-list  li {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.tree-list  li  .btn-tree {
    width: 150px;
    outline: none;
    background: linear-gradient(#a661c7,#2c3e50);
    border: 0;

}

.tree-list  li  .btn-tree:hover {
    width: 150px;
    outline: none;
    background: linear-gradient(#2c3e50,#a661c7);

}

.tree-list  li  .btn-tree:hover {
    outline: none;
}

.tree-list  li  .btn-tree:focus {
    box-shadow: 0 0 0 transparent;
    outline: none;

}

#title-cap div{
    background: linear-gradient(#34495e,#2c3e50);
    margin-top: 50px;
    height: 80px;
}

#title-cap div h2{
   color: white;
    margin-top: 25px;
}


#content-1 > div > div {
    height: 448px;
    word-wrap: break-word;
    overflow: hidden;
    background: rgba(171, 171, 180, 0.14);

}



#content-1  div  div h4  a{
     color: #2980b9;

 }

#content-1  div  div h4 strong{
    color: #c0c0c0;

}

#content-1  div  div h4  a:hover{
    color: #3498db;

}

.certificate{
  width: 200px;
  height: 120px;
  margin-top:  112px;
  border-radius: 5px;
  transition: 1s;
  opacity: 0.7;
}

.certificate:hover{
    width: 345px;
    height: 250px;
    margin-top:  62px;
    margin-left: -8px;
    border: solid 5px rgba(174, 174, 174, 0.46);
    opacity: 1;
}

.title-curse{
    position: inherit;
    top: 60px;
}

.text-custom{
    margin-top: 100px;
}
@media (min-width: 266px) and (max-width: 500px){
    .certificate{
        width: 260px;
        height: 200px;
        margin-top:  62px;
        margin-left: -8px;
        border: solid 5px rgba(174, 174, 174, 0.46);
        opacity: 1;
    }

    .certificate:hover{
        width: 270px;
        height: 210px;

    }
    #content-1 > div > div {
        height: 300px;
        word-wrap: break-word;
        overflow: hidden;
        background-color: #fcfcfc;


    }

    #title-cap div h2{
        color: white;
        margin-top: 5px;
    }
}


nav  .second-list  .btn-class-3 {
    display: none;
}

nav  .second-list  .btn-class-4 {
    display: none;
}

@media (min-width: 266px) and (max-width: 500px){
    #content-1  div  div h4{
       display: none;

    }

    #skill div table thead tr th{
        font-size: 14px;
    }

    #skill div table tbody tr td div div{
        font-size: 10px;
    }
   .contact strong {
       font-size: 20px;
   }

    h3.contact{
        font-size: 14px;
    }
}

/* Ext pag*/

.content-layout div div img{
    width: 990px;
    height: 616px;
    border: solid 1px #222222;

}

@media (min-width: 266px) and (max-width: 900px){
    .content-layout div div img{
    width: 800px;
    height: 600px;
    border: solid 1px #222222;

}
}

.t-tooltip{
    position: inherit;
    top: 70px;
}

@media  (min-width: 500px) and (max-width: 2000px) {
    .t-tooltip{
     display: none;
    }
}

#photo-profile{
    margin-top: 100px;
}

#photo-profile div{
    text-align: center;
    background: #ebf1f5;
    border-top: 1px solid rgba(64, 64, 64, 0.92);
}

#photo-profile div ul li{
    list-style: none;

}

#photo-profile div ul li strong{
    color: #2980b9;
}

#photo-profile div img{
    width: 200px;
    height: 200px;
    border: solid 5px white;
    border-radius: 50%;
}

#skill div {
    background: white;

}




#skill div ul li {
    list-style: none;
}